<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.departs.toLocaleDateString() %></td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <a href="/flights/new">Add Flight</a>

<%- include('../partials/footer') %>
